# set kernel version
export TARGET_DEVICE=SC03D
export BUILD_MOD=KBC
export BUILD_VERSION=V7.0.0

# set build user and host
export KBUILD_BUILD_VERSION="1"
export KBUILD_BUILD_USER="Homura,Sakuramilk"
export KBUILD_BUILD_HOST="KBC"

# set kernel option
export KERNEL_BASE_ADDRESS=0x40400000
export KERNEL_RAMDISK_OFFSET=0x01400000
export KERNEL_CMDLINE="androidboot.hardware=qcom usb_id_pin_rework=true no_console_suspend=true zcache"
case "$BUILD_TARGET" in
  "AOSP" ) export KERNEL_DEFCONFIG=kbc_sc03d_aosp_defconfig ;;
  "SAM"  ) export KERNEL_DEFCONFIG=kbc_sc03d_samsung_defconfig ;;
esac

# ramdisk
if [ "$BUILD_TARGET" = 'RECO' ]; then
  export RAMDISK_SRC_DIR=../sc03d_recovery_ramdisk
  export RAMDISK_TMP_DIR=/tmp/sc03d_recovery_ramdisk
else
  export RAMDISK_SRC_DIR=../sc03d_boot_ramdisk
  export RAMDISK_TMP_DIR=/tmp/sc03d_boot_ramdisk_$BUILD_TARGET
fi
